<<<<<<< HEAD:style/style.css
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
=======
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
>>>>>>> 1041ef3cb505a27bd06a17069db37672e0197b84:style.css

body {
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    color: aliceblue;
    font-size: 1.5em;
}

header {
    background-color: #D1B96C;
}

main {
    background-color: #693807;
}

footer {
    background-color: #381c00;
}

main p,
h2,
h3,
pre,
img {
    padding: 1em;
}

pre {
    font-family: "Playfair", serif;

}

.pad-nav {
    padding: 1em;
}

.header-text {
    color: #472E14;
    padding: 0;
}

.image {
    padding-top: 35px;
    padding-bottom: 35px;
}

.text-width {
    text-align: justify;
}

.card {
    padding: 1em;
    background-color: #4E2700;
    color: aliceblue;
}

.nav {
    background-color: #D1B96C;
    padding: 1em;
}

.book {
    background-color: #4E2700;
    padding: 1em;
}

.navbar {
    padding: 0;
}

.color {
    color: aliceblue;
}

.carousel {
    padding: 0 7% 0 7%;
}

.unger {
    display: grid;
    place-items: center;
}

header img {
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: #522a02;
}

header img:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

main img {
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: #522a02;
}

main img:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

@media (max-width: 992px) {
    .unger p {
        font-size: 1.25rem !important;
    }
}

#frame {
    background-color: #b8a35f;
}

.carousel {
    padding-bottom: 2em;
}

#delite-padding {
    padding-bottom: 0;
}
<<<<<<< HEAD:style/style.css

#delite-padding-footer {
    padding: 0;
=======
.pt-serif-bold {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;
>>>>>>> 1041ef3cb505a27bd06a17069db37672e0197b84:style.css
}